page-login {

    .bg-image{
      background-image:  url('../assets/imgs/login_bg.jpg') ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover
     }

     .no-scroll{
         overflow: hidden;
     }

     .logo {
         display: block;
         width: 35%;
         height: 19%;
         margin-left:auto;
         margin-right:auto;
     }

    .label{
        background-color: #D9EBF8;
        margin-bottom: 0.1em;
    }

    .icon{
        padding-left: 6px;
        padding-bottom: 4px;
    }

    .btn_login{
        width:97%;
    }

   
}

.toastStyle .toast-wrapper {
    background-color: #488aff;
    color:#f4f4f4; 
}

.toolbar-title-md{
  color:#488aff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.toolbar-background .toolbar-background-md {
  background-color: transparent;   
}
