page-doctor {
   
    .bg_image{
        width: 100%;
        //position: absolute;
    }

    .propic{
        width:100px;
        height: 100px;
        top: 31%;
        left: 3%;
        border-radius: 52px;
        border: solid white 4px;
        //position: absolute;
    }
    

}
